{% extends "InfoLaverageMetronicBundle::base.html.twig" %}

{% set meta_title = 'Login' %}
{% set additional_body_class = 'login' %}

{% block body %}
    {% block login_logo %}
        <div class="logo"></div>
    {% endblock login_logo %}
    <div class="content">
        {% block login_form %}{% endblock %}
    </div>
{% endblock body %}

{% block additional_stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/infolaveragemetronic/login/css/login.css') }}" type="text/css" rel="stylesheet" media="all" />
{% endblock %}

{% block javascripts %}
{% endblock javascripts %}
