<div class="page-content-wrapper">
    <div class="page-content">
        {% block page_title_container %}
            <h1 class="page-title">
                {% block page_title %}{% endblock %}
            </h1>
        {% endblock page_title_container %}
        {% block page_bar %}
            {% include 'InfoLaverageMetronicBundle:partials:page_bar.html.twig' %}
        {% endblock page_bar %}
        {% block content %}{% endblock %}
    </div>
</div>
