<div class="page-content-wrapper">
    <div class="page-content">
        <h3 class="page-title">
            {% block page_title %}{% endblock %}
        </h3>
        {% block content %}{% endblock %}
    </div>
</div>
