<div class="page-bar">
    {% block breadcrumb %}
        <ul class="page-breadcrumb"></ul>
    {% endblock breadcrumb %}
    {% block toolbar %}
        <div class="page-toolbar"></div>
    {% endblock toolbar %}
</div>
