<li class="start active open">
    <a href="javascript:;">
        <i class="{{ icon }}"></i>
        <span class="title">{{ title }}</span>
        <span class="selected"></span>
        <span class="arrow open"></span>
    </a>
    <ul class="sub-menu" style="display: block;">
        {% block sidebar_list %}{% endblock %}
    </ul>
</li>
