/* here you can put your own css to customize and override the theme */

/***********
Components
************/

/* Button */
.color-delete.btn {
    color: white;
    background-color: #e54b67;
    border-color: #e52b50;
}

.color-delete.btn:hover {
    color: white;
    background-color: #c52330;
}

.color-default {
    background-color: #3FD5C0;
}

.portlet.box.color-default > .portlet-title {
    background-color: #3FD5C0;
}

.portlet.box.color-default {
    border: 1px solid #3FD5C0;
    border-top: 0;
}

.portlet > .portlet-body.color-default, .portlet.color-default {
    background-color: #3FD5C0;
}

.info-panel {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
    display: block;
}

.portlet-social-icon {
    float: left;
    margin: 5px 5px 0 0;
}

.action-bar {
    margin-bottom: 10px;
}
