.table {}

    .table > thead > tr > th,
    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .table th.minw,
    .table td.minw {
        width: 1px;
    }

    .table th.nowrap,
    .table td.nowrap {
        white-space: nowrap;
    }

    .table th.actions,
    .table td.actions {
        width: 1px;
        white-space: nowrap;
    }

    .table tbody td.actions {
        opacity: 0.1;
    }

        .table tbody tr:hover td.actions {
            opacity: 1;
        }

    .table thead th > em {
        font-weight: normal;
        font-size: 10px;
        font-style: normal;
    }

    .table thead th.actions,
    .table thead td.actions {
        text-align: center;
    }

        .table th.actions .btn,
        .table td.actions .btn {
            margin: 0px;
        }

        .table th.actions ul,
        .table td.actions ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }

            .table th.actions ul li,
            .table td.actions ul li {
                margin: 0 0 5px 0;
            }

            .table th.actions ul li:last-of-type,
            .table td.actions ul li:last-of-type {
                margin-bottom: 0px;
            }

    .table thead tr.filter {}

        .table thead tr.filter th {
            vertical-align: middle;
        }

        .table thead tr.filter th.actions {
            text-align: center;
            width: 1px;
            white-space: nowrap;
        }

            .table thead tr.filter th.actions .btn-group {
                min-width: 70px;
            }

            .table thead tr.filter th.actions .btn {
                padding: 8px 0;
                width: 35px;
            }

.strong {
    font-weight: bold;
}

.not-strong {
    font-weight: normal !important;
}

.table > thead > tr > th.text-middle,
.table > tbody > tr > td.text-middle {
    vertical-align: middle;
}

.page-toolbar {}

    .page-toolbar .btn > i {
        font-size: initial;
    }

form.form-horizontal {}

    form.form-horizontal .form-actions {
        padding-bottom: 5px;
    }

        form.form-horizontal .form-actions .buttons-container {}

            form.form-horizontal .form-actions .buttons-container .btn {
                margin-right: 10px;
            }

.vertical-separator
{
    display: inline-block;
    margin: 0 5px;
}

    .vertical-separator.smaller
    {
        display: inline-block;
        margin: 0 3px;
    }

    .vertical-separator.bigger
    {
        display: inline-block;
        margin: 0 10px;
    }

.text-top {
    vertical-align: top;
}

.text-middle {
    vertical-align: middle;
}

.text-bottom {
    vertical-align: bottom;
}

.no-margin {
    margin: 0 !important;
}

.add-top-margin-0 {
    margin-top: 0px !important;
}

.add-top-margin-5 {
    margin-top: 5px !important;
}

.add-top-margin-10 {
    margin-top: 10px !important;
}

.add-top-margin-15 {
    margin-top: 15px !important;
}

.add-top-margin-20 {
    margin-top: 20px !important;
}

.add-top-margin-25 {
    margin-top: 25px !important;
}

.add-top-margin-30 {
    margin-top: 30px !important;
}

.add-bottom-margin-0 {
    margin-bottom: 0px !important;
}

.add-bottom-margin-5 {
    margin-bottom: 5px !important;
}

.add-bottom-margin-10 {
    margin-bottom: 10px !important;
}

.add-bottom-margin-15 {
    margin-bottom: 15px !important;
}

.add-bottom-margin-20 {
    margin-bottom: 20px !important;
}

.add-bottom-margin-25 {
    margin-bottom: 25px !important;
}

.add-bottom-margin-30 {
    margin-bottom: 30px !important;
}

.add-left-margin-0 {
    margin-left: 0px !important;
}

.add-left-margin-5 {
    margin-left: 5px !important;
}

.add-left-margin-10 {
    margin-left: 10px !important;
}

.add-left-margin-15 {
    margin-left: 15px !important;
}

.add-left-margin-20 {
    margin-left: 20px !important;
}

.add-left-margin-25 {
    margin-left: 25px !important;
}

.add-left-margin-30 {
    margin-left: 30px !important;
}

.add-right-margin-0 {
    margin-right: 0px !important;
}

.add-right-margin-5 {
    margin-right: 5px !important;
}

.add-right-margin-10 {
    margin-right: 10px !important;
}

.add-right-margin-15 {
    margin-right: 15px !important;
}

.add-right-margin-20 {
    margin-right: 20px !important;
}

.add-right-margin-25 {
    margin-right: 25px !important;
}

.add-right-margin-30 {
    margin-right: 30px !important;
}

.font-size-8 {
    font-size: 8px !important;
}

.font-size-9 {
    font-size: 9px !important;
}

.font-size-10 {
    font-size: 10px !important;
}

.font-size-11 {
    font-size: 11px !important;
}

.font-size-12 {
    font-size: 12px !important;
}

.font-size-13 {
    font-size: 13px !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-15 {
    font-size: 15px !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.font-size-17 {
    font-size: 17px !important;
}

.font-size-18 {
    font-size: 18px !important;
}

.font-size-19 {
    font-size: 19px !important;
}

.font-size-20 {
    font-size: 20px !important;
}

.font-size-21 {
    font-size: 21px !important;
}

.font-size-22 {
    font-size: 22px !important;
}

.font-size-23 {
    font-size: 23px !important;
}

.font-size-24 {
    font-size: 24px !important;
}

.font-size-25 {
    font-size: 25px !important;
}

.font-size-26 {
    font-size: 26px !important;
}

.font-size-27 {
    font-size: 27px !important;
}

.font-size-28 {
    font-size: 28px !important;
}

.font-size-29 {
    font-size: 29px !important;
}

.font-size-30 {
    font-size: 30px !important;
}

.branding-color.fa-facebook-square {
    color: #3b5998;
}

.branding-color.fa-twitter-square {
    color: #55acee;
}

.branding-color.fa-google-plus-square {
    color: #dd4b39;
}
