{% block il_metronic_datetimepicker_widget %}
    <div class="input-group date form_datetime metronic-bootstrap-datetimepicker" {% if value %}data-date="{{ value }}"{% endif %} data-config="{{ form.vars.widget_options|json_encode }}">
        {{ form_widget(form) }}
        <span class="input-group-btn">
            {% if form.vars.allowRemove %}
                <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
            {% endif %}
            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
        </span>
    </div>
{% endblock il_metronic_datetimepicker_widget %}
